global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']

  {% for group in inventory %}

  - job_name: '{{ group }}'

    scrape_interval: 5s
    static_configs:
      - targets:  {{ inventory[group] }}
  {% endfor %}


  
  
